/*

*/

.version.about /* version checker */
{
	color: #000004;
	background-color: #E83C31;
}

.html
{
	background: #FFFFFF url("../images/frwr9jt-c2.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 58px;
	padding-bottom: 56px;
	width: 0.01px;
}

#pu618
{
	width: 0.01px;
}

#u618
{
	z-index: 94;
	width: 36px;
	margin-right: -10000px;
}

#u614-4
{
	z-index: 78;
	width: 40px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 39px;
}

#u614-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 40px;
	margin: 2px -10000px 0px 0px;
}

#u615-4
{
	z-index: 82;
	width: 50px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 960px;
}

#u615-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u615-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u616-4
{
	z-index: 86;
	width: 60px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1050px;
}

#u616-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u616-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u617-4
{
	z-index: 90;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1150px;
}

#u617-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u617-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u1227
{
	z-index: 2;
	width: 1200px;
	height: 1px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.35);
	margin-top: 56px;
	position: relative;
	-pie-background: rgba(255,255,255,0.35);
}

#u1216
{
	z-index: 3;
	width: 176px;
	background-color: #D8D8D8;
	background-color: rgba(0,0,0,0.15);
	padding-bottom: 4px;
	margin-top: 69px;
	position: relative;
	-pie-background: rgba(0,0,0,0.15);
}

#u1228-4
{
	z-index: 4;
	width: 164px;
	min-height: 50px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: left;
	letter-spacing: 1px;
	font-size: 48px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 12px;
}

#u1223
{
	z-index: 8;
	width: 1150px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	margin-top: 70px;
	position: relative;
	padding: 25px 25px 60px;
	-pie-background: rgba(0,0,0,0.25);
}

#u1234
{
	z-index: 9;
	width: 154px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-bottom: 3px;
	position: relative;
	-pie-background: rgba(0,0,0,0.4);
}

#u1229-4
{
	z-index: 10;
	width: 148px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u1231
{
	z-index: 14;
	width: 1150px;
	height: 1px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	margin-top: 25px;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#u1232-6
{
	z-index: 15;
	width: 250px;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 48px;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u1263-4
{
	z-index: 29;
	width: 650px;
	min-height: 228px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1225-4
{
	z-index: 21;
	width: 245px;
	min-height: 60px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-left: 20px;
	margin-top: 32px;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#u1225-4:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 245px;
	margin: 32px 0px 0px 20px;
	-pie-background: rgba(0,0,0,0.4);
}

#u1220-4
{
	z-index: 25;
	width: 205px;
	min-height: 20px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-left: 20px;
	margin-top: 10px;
	position: relative;
}

#u1264
{
	z-index: 33;
	width: 1150px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	margin-top: 70px;
	position: relative;
	padding: 25px 25px 48.40000000000009px;
	-pie-background: rgba(0,0,0,0.25);
}

#u1265
{
	z-index: 34;
	width: 154px;
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-bottom: 3px;
	position: relative;
	-pie-background: rgba(0,0,0,0.4);
}

#u1266-4
{
	z-index: 35;
	width: 148px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u1267
{
	z-index: 39;
	width: 1150px;
	height: 1px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	margin-top: 25px;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#pu1232-6,#ppu1268-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 59px;
}

#pu1268-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u1268-4
{
	z-index: 40;
	width: 250px;
	min-height: 100px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 48px;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
}

#u1276-4
{
	z-index: 74;
	width: 200px;
	min-height: 42px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 40px;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#u1276-4:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 42px;
	width: 200px;
	margin: 40px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u1225-4:hover p,#u1276-4:hover p
{
	text-decoration: underline;
}

#pu1270-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 350px;
}

#u1270-4
{
	z-index: 44;
	width: 100px;
	min-height: 18px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#u1270-4:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 100px;
	margin: 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u1271-4
{
	z-index: 48;
	width: 119px;
	min-height: 18px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u1271-4:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 119px;
	margin: 8px 0px 0px;
}

#u1272-4
{
	z-index: 52;
	width: 150px;
	min-height: 18px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 26px;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#u1272-4:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 26px 0px 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u1273-8
{
	z-index: 56;
	width: 128px;
	min-height: 60px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u1273-8:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	width: 128px;
	margin: 8px 0px 0px;
}

#pu1274-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 550px;
}

#u1274-4
{
	z-index: 64;
	width: 150px;
	min-height: 18px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#u1274-4:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 150px;
	margin: 0px;
	-pie-background: rgba(0,0,0,0.4);
}

#u1275-6
{
	z-index: 68;
	width: 300px;
	min-height: 130px;
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 8px;
	position: relative;
}

#u1275-6:hover
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 130px;
	width: 300px;
	margin: 8px 0px 0px;
}

#u1210
{
	z-index: 99;
	overflow: hidden;
	margin-left: 587px;
	margin-top: 80px;
	position: relative;
}

#u1209-4
{
	z-index: 95;
	width: 200px;
	min-height: 14px;
	background-color: transparent;
	line-height: 12px;
	color: #F0F0F0;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-left: 500px;
	margin-top: 5px;
	position: relative;
}

#u1209-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 200px;
	margin: 5px 0px 0px 500px;
}

#u1209-4:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
}

