/*

*/

.version.about /* version checker */
{
	color: #00000C;
	background-color: #4B6A78;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1800px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 60px;
	width: 0.01px;
}

#u244
{
	z-index: 48;
	min-height: 94px;
	padding-bottom: 56px;
}

#u244_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u745
{
	z-index: 61;
	width: 79px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 100px;
}

#u179
{
	z-index: 66;
	width: 36px;
	margin-right: -10000px;
}

#u83-4
{
	z-index: 62;
	width: 40px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 39px;
}

#u83-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 40px;
	margin: 2px -10000px 0px 0px;
}

#u86-4
{
	z-index: 49;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1060px;
}

#u86-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 70px -10000px 0px 0px;
}

#u89-4
{
	z-index: 53;
	width: 60px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1150px;
}

#u89-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 70px -10000px 0px 0px;
}

#u89-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 70px -10000px 0px 0px;
}

#u90-4
{
	z-index: 57;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1250px;
}

#u86-4.MuseLinkActive,#u90-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 70px -10000px 0px 0px;
}

#u90-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 70px -10000px 0px 0px;
}

#u244-bw
{
	z-index: 48;
	min-height: 94px;
}

#u754
{
	z-index: 2;
	width: 126px;
	background-color: #FFFFFF;
	margin-top: 64px;
	position: relative;
}

#u755-4
{
	z-index: 3;
	width: 122px;
	min-height: 32px;
	background-color: transparent;
	color: #FD537B;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
}

#u756
{
	z-index: 8;
	width: 1198px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding-bottom: 714px;
	margin-top: 66px;
	position: relative;
}

#u758
{
	z-index: 9;
	width: 175px;
	background-color: #F0F0F0;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 24px;
}

#u757-4
{
	z-index: 10;
	width: 150px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u777
{
	z-index: 23;
	width: 100px;
	background-color: #F0F0F0;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 799px;
}

#u778-4
{
	z-index: 24;
	width: 61px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#pu763
{
	width: 0.01px;
}

#u763
{
	z-index: 7;
	width: 1150px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 25px 24px 19.552734374999204px;
	border-width: 0px 1px 1px;
}

#u775
{
	z-index: 18;
	width: 145px;
	background-color: #F0F0F0;
	padding-bottom: 3px;
	position: relative;
}

#u776-4
{
	z-index: 19;
	width: 130px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#pu839
{
	width: 0.01px;
	margin-top: 25px;
}

#u839
{
	z-index: 37;
	width: 450px;
	height: 180px;
	background-color: #F0F0F0;
	position: relative;
	margin-right: -10000px;
}

#u841
{
	z-index: 39;
	width: 675px;
	height: 1px;
	background-color: #DDDDDD;
	position: relative;
}

#u837-4
{
	z-index: 33;
	width: 200px;
	min-height: 36px;
	background-color: transparent;
	color: #252525;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	margin-top: 19px;
	position: relative;
}

#u840
{
	z-index: 38;
	width: 450px;
	height: 180px;
	background-color: #F0F0F0;
	position: relative;
	margin-right: -10000px;
}

#u843
{
	z-index: 40;
	width: 675px;
	height: 1px;
	background-color: #DDDDDD;
	position: relative;
}

#u836-4
{
	z-index: 29;
	width: 400px;
	min-height: 36px;
	background-color: transparent;
	color: #252525;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	margin-top: 19px;
	position: relative;
}

#pu840,#pu845
{
	width: 0.01px;
	margin-top: 28px;
}

#u845
{
	z-index: 42;
	width: 450px;
	height: 180px;
	background-color: #F0F0F0;
	position: relative;
	margin-right: -10000px;
}

#pu841,#pu843,#pu847
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 475px;
}

#u847
{
	z-index: 43;
	width: 675px;
	height: 1px;
	background-color: #DDDDDD;
	position: relative;
}

#u848-4
{
	z-index: 44;
	width: 200px;
	min-height: 36px;
	background-color: transparent;
	color: #252525;
	font-size: 28px;
	line-height: 34px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	margin-top: 19px;
	position: relative;
}

#u779
{
	z-index: 28;
	width: 1150px;
	height: 1px;
	background-color: #DDDDDD;
	margin-top: 34px;
	position: relative;
}

#pu771
{
	width: 0.01px;
	margin-top: 22px;
}

#u771
{
	z-index: 16;
	width: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u769
{
	z-index: 14;
	width: 126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 175px;
}

#u844
{
	z-index: 41;
	width: 16px;
	height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 756px;
	left: 77px;
}

.ie #u844
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u849
{
	z-index: 67;
	width: 96px;
	margin-left: 552px;
	margin-top: 110px;
}

#u851
{
	z-index: 72;
	width: 44px;
	margin-right: -10000px;
}

#u850-4
{
	z-index: 68;
	width: 49px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 48px;
}

#u850-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 49px;
	margin: 3px -10000px 0px 0px;
}

#pu858-4
{
	width: 0.01px;
	margin-left: 500px;
	margin-top: 56px;
}

#u858-4
{
	z-index: 81;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
}

#u858-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u854-4
{
	z-index: 73;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	left: 75px;
}

#u858-4.MuseLinkActive,#u854-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u857-4
{
	z-index: 77;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	left: 150px;
}

#u854-4.MuseLinkActive,#u857-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u857-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
}

