/*

*/

.version.events /* version checker */
{
	color: #0000EC;
	background-color: #AF8142;
}

.html
{
	background-color: #F0F0F0;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1632px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 60px;
	width: 0.01px;
}

#u244
{
	z-index: 111;
	min-height: 94px;
	padding-bottom: 56px;
}

#u244_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	left: -100px;
}

#u745
{
	z-index: 124;
	width: 79px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 100px;
}

#u179
{
	z-index: 129;
	width: 36px;
	margin-right: -10000px;
}

#u83-4
{
	z-index: 125;
	width: 40px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 39px;
}

#u83-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 40px;
	margin: 2px -10000px 0px 0px;
}

#u86-4
{
	z-index: 112;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1060px;
}

#u86-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 70px -10000px 0px 0px;
}

#u89-4
{
	z-index: 116;
	width: 60px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1150px;
}

#u89-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 70px -10000px 0px 0px;
}

#u89-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 70px -10000px 0px 0px;
}

#u90-4
{
	z-index: 120;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 1250px;
}

#u86-4.MuseLinkActive,#u90-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 70px -10000px 0px 0px;
}

#u90-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 70px -10000px 0px 0px;
}

#u244-bw
{
	z-index: 111;
	min-height: 94px;
}

#u668
{
	z-index: 2;
	width: 145px;
	background-color: #FFFFFF;
	margin-top: 64px;
	position: relative;
}

#u629-4
{
	z-index: 3;
	width: 150px;
	min-height: 32px;
	background-color: transparent;
	color: #FD537B;
	font-size: 36px;
	line-height: 43px;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	margin-bottom: -3px;
	position: relative;
	margin-right: -10000px;
}

#u739
{
	z-index: 7;
	width: 1198px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding-bottom: 23px;
	margin-top: 66px;
	position: relative;
}

#u709
{
	z-index: 8;
	width: 141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 24px;
}

#u741
{
	z-index: 10;
	width: 1150px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	position: relative;
	padding: 25px 24px 169px;
	border-width: 0px 1px 1px;
}

#u743
{
	z-index: 11;
	width: 80px;
	background-color: #F0F0F0;
	padding-bottom: 3px;
	position: relative;
}

#u744-4
{
	z-index: 12;
	width: 75px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#pu780
{
	width: 0.01px;
	margin-top: 25px;
}

#u780
{
	z-index: 16;
	width: 350px;
	height: 1px;
	background-color: #DDDDDD;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u781
{
	z-index: 17;
	width: 350px;
	height: 1px;
	background-color: #DDDDDD;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 400px;
}

#u782
{
	z-index: 18;
	width: 350px;
	height: 1px;
	background-color: #DDDDDD;
	position: relative;
	margin-right: -10000px;
	left: 800px;
}

#u783-6
{
	z-index: 19;
	width: 350px;
	min-height: 58px;
	background-color: transparent;
	color: #252525;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u788-6
{
	z-index: 37;
	width: 350px;
	min-height: 58px;
	background-color: transparent;
	color: #252525;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u786-4
{
	z-index: 26;
	width: 175px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u790-4
{
	z-index: 44;
	width: 175px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u785
{
	z-index: 25;
	width: 350px;
	height: 400px;
	background-color: #F0F0F0;
	position: relative;
	margin-right: -10000px;
}

#u789
{
	z-index: 43;
	width: 350px;
	height: 400px;
	background-color: #F0F0F0;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#pu783-6,#pu786-4,#pu785,#pu787-7
{
	width: 0.01px;
	margin-top: 14px;
}

#u787-7
{
	z-index: 30;
	width: 275px;
	min-height: 100px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u791-9
{
	z-index: 48;
	width: 275px;
	min-height: 100px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 400px;
}

#u801
{
	z-index: 73;
	width: 1150px;
	height: 1px;
	background-color: #DDDDDD;
	margin-top: 50px;
	position: relative;
}

#u796
{
	z-index: 57;
	width: 150px;
	background-color: #F0F0F0;
	padding-bottom: 3px;
	margin-top: 24px;
	position: relative;
}

#u797-4
{
	z-index: 58;
	width: 134px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u798
{
	z-index: 62;
	width: 350px;
	height: 1px;
	background-color: #DDDDDD;
	margin-top: 26px;
	position: relative;
}

#u804
{
	z-index: 82;
	width: 350px;
	height: 1px;
	background-color: #DDDDDD;
	margin-left: 400px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u799-6
{
	z-index: 63;
	width: 350px;
	min-height: 58px;
	background-color: transparent;
	color: #252525;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	margin-top: 14px;
	position: relative;
}

#u800-4
{
	z-index: 69;
	width: 175px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u803
{
	z-index: 81;
	width: 350px;
	height: 180px;
	background-color: #F0F0F0;
	margin-top: 14px;
	position: relative;
}

#u802-7
{
	z-index: 74;
	width: 275px;
	min-height: 100px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u809
{
	z-index: 83;
	width: 1198px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	padding-bottom: 19px;
	margin-top: 40px;
	position: relative;
}

#u833
{
	z-index: 109;
	width: 126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 24px;
}

#u812
{
	z-index: 84;
	width: 350px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	position: relative;
	padding: 25px 824px 99px 24px;
	border-width: 0px 1px 1px;
}

#u813
{
	z-index: 85;
	width: 80px;
	background-color: #F0F0F0;
	padding-bottom: 3px;
	position: relative;
}

#u814-4
{
	z-index: 86;
	width: 75px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 3px;
}

#u815
{
	z-index: 90;
	width: 350px;
	height: 1px;
	background-color: #DDDDDD;
	margin-top: 26px;
	position: relative;
}

#u816-6
{
	z-index: 91;
	width: 350px;
	min-height: 58px;
	background-color: transparent;
	color: #252525;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	margin-top: 14px;
	position: relative;
}

#u818-4
{
	z-index: 98;
	width: 175px;
	min-height: 14px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u817
{
	z-index: 97;
	width: 350px;
	height: 400px;
	background-color: #F0F0F0;
	margin-top: 14px;
	position: relative;
}

#u819-7
{
	z-index: 102;
	width: 275px;
	min-height: 100px;
	background-color: transparent;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 14px;
	position: relative;
}

#u849
{
	z-index: 130;
	width: 96px;
	margin-left: 552px;
	margin-top: 110px;
}

#u851
{
	z-index: 135;
	width: 44px;
	margin-right: -10000px;
}

#u850-4
{
	z-index: 131;
	width: 49px;
	min-height: 39px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 48px;
}

#u850-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 49px;
	margin: 3px -10000px 0px 0px;
}

#pu858-4
{
	width: 0.01px;
	margin-left: 500px;
	margin-top: 56px;
}

#u858-4
{
	z-index: 144;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
}

#u858-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u854-4
{
	z-index: 136;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	left: 75px;
}

#u858-4.MuseLinkActive,#u854-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u857-4
{
	z-index: 140;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	left: 150px;
}

#u854-4.MuseLinkActive,#u857-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u857-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
}

