/*

*/

.version.events /* version checker */
{
	color: #0000E9;
	background-color: #FA285E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 860px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u553
{
	z-index: 2;
	height: 860px;
	background-color: #222222;
}

#u553-bw
{
	z-index: 2;
	height: 860px;
}

#u593
{
	z-index: 3;
	min-height: 860px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u593-bw
{
	z-index: 3;
	min-height: 860px;
}

#u557
{
	z-index: 4;
	min-height: 860px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u557-bw
{
	z-index: 4;
	min-height: 860px;
}

#u566-4
{
	z-index: 5;
	width: 230px;
	min-height: 19px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
}

#u582-4
{
	z-index: 9;
	width: 170px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 11px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	-pie-background: rgba(255,255,255,0.15);
}

#u582-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u582-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u582-4:hover p
{
	text-decoration: underline;
}

#u578-4
{
	z-index: 13;
	width: 230px;
	min-height: 19px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 325px;
}

#u579-4
{
	z-index: 17;
	width: 160px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 11px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 325px;
	-pie-background: rgba(255,255,255,0.15);
}

#u579-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 160px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u579-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 160px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u582-4:active p,#u579-4:hover p
{
	text-decoration: underline;
}

#u580-4
{
	z-index: 21;
	width: 230px;
	min-height: 19px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 650px;
}

#u581-4
{
	z-index: 25;
	width: 170px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 11px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 650px;
	-pie-background: rgba(255,255,255,0.15);
}

#u581-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u581-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 320px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u579-4:active p,#u581-4:hover p
{
	text-decoration: underline;
}

#u584-4
{
	z-index: 29;
	width: 100px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: '__StratumNo2Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
}

#u585-4
{
	z-index: 33;
	width: 100px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: '__StratumNo2Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 400px;
}

#u586-4
{
	z-index: 37;
	width: 140px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 11px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 430px;
	-pie-background: rgba(255,255,255,0.15);
}

#u586-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 140px;
	margin: 430px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u586-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 140px;
	margin: 430px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u581-4:active p,#u586-4:hover p
{
	text-decoration: underline;
}

#u589-4
{
	z-index: 41;
	width: 100px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: '__StratumNo2Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 325px;
}

#u590-4
{
	z-index: 45;
	width: 100px;
	min-height: 16px;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 14px;
	font-family: '__StratumNo2Regular_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 650px;
}

#u569-4
{
	z-index: 49;
	width: 40px;
	min-height: 27px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 37px;
}

#u567
{
	z-index: 53;
	overflow: hidden;
	position: relative;
	width: 36px;
	margin-right: -10000px;
	margin-top: 89px;
}

#u546-4
{
	z-index: 54;
	width: 32px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1000px;
}

#u546-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 32px;
	margin: 100px -10000px 0px 0px;
}

#u549-4
{
	z-index: 58;
	width: 46px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1072px;
}

#u549-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 100px -10000px 0px 0px;
}

#u548-4
{
	z-index: 62;
	width: 40px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1158px;
}

#u547-4
{
	z-index: 66;
	width: 40px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1240px;
}

#u548-4:hover,#u547-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 40px;
	margin: 100px -10000px 0px 0px;
}

#u586-4:active p,#u546-4:hover p,#u549-4:hover p,#u548-4:hover p,#u547-4:hover p
{
	text-decoration: underline;
}

@font-face
{
	font-family: '__StratumNo2Regular_5';
	src: url('../fonts/stratumno2-regular-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-regular-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

