/*

*/

.version.index /* version checker */
{
	color: #0000F3;
	background-color: #23FD01;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 860px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u641,#u641-bw
{
	z-index: 2;
	height: 800px;
}

#u401
{
	z-index: 3;
	min-height: 360px;
	background-color: #222222;
	padding-bottom: 500px;
}

#u401_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#u415
{
	z-index: 4;
	width: 400px;
	min-height: 300px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 100px;
}

#u401-bw
{
	z-index: 3;
	min-height: 360px;
}

#u526
{
	z-index: 5;
	min-height: 877px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u526-bw
{
	z-index: 5;
	min-height: 877px;
}

#u454
{
	z-index: 6;
	width: 300px;
	min-height: 35px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 790px;
	left: 980px;
}

#u459-6
{
	z-index: 7;
	width: 110px;
	min-height: 52px;
	background-color: transparent;
	line-height: 29px;
	font-size: 32px;
	color: #FFFFFF;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 422px;
	left: 74px;
}

#u459-6.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 52px;
	width: 110px;
	margin: 422px -10000px 0px 0px;
}

#u459-6.MuseLinkActive p
{
	font-size: 32px;
}

#u460
{
	z-index: 13;
	overflow: hidden;
	position: relative;
	width: 70px;
	margin-right: -10000px;
	margin-top: 415px;
}

#u83-4
{
	z-index: 14;
	width: 274px;
	min-height: 19px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	font-size: 36px;
	text-align: right;
	font-family: '__StratumNo2_5';
	font-weight: 900;
	position: relative;
	margin-right: -10000px;
	margin-top: 436px;
	left: 1006px;
}

#u84-4
{
	z-index: 18;
	width: 230px;
	min-height: 19px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
}

#u85-4
{
	z-index: 22;
	width: 260px;
	min-height: 19px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 14px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 588px;
	left: 1020px;
	-pie-background: rgba(255,255,255,0.15);
}

#u85-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 260px;
	margin: 588px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u85-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 260px;
	margin: 588px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u85-4:hover p
{
	text-decoration: underline;
}

#u88-4
{
	z-index: 26;
	width: 208px;
	min-height: 19px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 14px;
	color: #FFFFFF;
	font-size: 16px;
	text-align: right;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 564px;
	left: 1072px;
	-pie-background: rgba(255,255,255,0.15);
}

#u88-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 208px;
	margin: 564px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u88-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 208px;
	margin: 564px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u85-4:active p,#u88-4:hover p
{
	text-decoration: underline;
}

#u90-4
{
	z-index: 30;
	width: 200px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 13px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	-pie-background: rgba(255,255,255,0.15);
}

#u90-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 200px;
	margin: 800px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u90-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 200px;
	margin: 800px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u88-4:active p,#u90-4:hover p
{
	text-decoration: underline;
}

#u466-4
{
	z-index: 34;
	width: 230px;
	min-height: 19px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 740px;
	left: 325px;
}

#u467-4
{
	z-index: 38;
	width: 232px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 13px;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 800px;
	left: 325px;
	-pie-background: rgba(255,255,255,0.15);
}

#u467-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 232px;
	margin: 800px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u467-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 232px;
	margin: 800px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u90-4:active p,#u467-4:hover p
{
	text-decoration: underline;
}

#u530-4
{
	z-index: 42;
	width: 244px;
	min-height: 14px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	font-size: 10px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 832px;
	left: 1008px;
}

#u530-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 244px;
	margin: 832px -10000px 0px 0px;
}

#u467-4:active p,#u530-4:hover p
{
	text-decoration: underline;
}

#u637-4
{
	z-index: 46;
	width: 32px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1000px;
}

#u637-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 32px;
	margin: 100px -10000px 0px 0px;
}

#u637-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 32px;
	margin: 100px -10000px 0px 0px;
}

#u638-4
{
	z-index: 50;
	width: 46px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1072px;
}

#u638-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 100px -10000px 0px 0px;
}

#u638-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 100px -10000px 0px 0px;
}

#u639-4
{
	z-index: 54;
	width: 40px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1158px;
}

#u640-4
{
	z-index: 58;
	width: 40px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1240px;
}

#u639-4:hover,#u640-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 40px;
	margin: 100px -10000px 0px 0px;
}

@font-face
{
	font-family: '__StratumNo2_5';
	src: url('../fonts/stratum2-black-webfont.eot');
	src: local('☺'), url('../fonts/stratum2-black-webfont.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

