/*

*/

.version.index /* version checker */
{
	color: #0000F0;
	background-color: #BA8543;
}

.html
{
	background: #FFFFFF url("../images/frwr9jt-c2.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1000px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 58px;
	padding-bottom: 40px;
	width: 0.01px;
}

#pu618
{
	width: 0.01px;
}

#u618
{
	z-index: 33;
	width: 36px;
	margin-right: -10000px;
}

#u614-4
{
	z-index: 17;
	width: 40px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 39px;
}

#u614-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 40px;
	margin: 2px -10000px 0px 0px;
}

#u615-4
{
	z-index: 21;
	width: 50px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 960px;
}

#u615-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u615-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u616-4
{
	z-index: 25;
	width: 60px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1050px;
}

#u616-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u616-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u617-4
{
	z-index: 29;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1150px;
}

#u617-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u617-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u632
{
	z-index: 2;
	width: 1200px;
	height: 1px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.35);
	margin-top: 56px;
	position: relative;
	-pie-background: rgba(255,255,255,0.35);
}

#pu633
{
	width: 0.01px;
	margin-left: 518px;
	margin-top: 299px;
}

#u633
{
	z-index: 3;
	width: 682px;
	height: 67px;
	background-color: #D8D8D8;
	background-color: rgba(0,0,0,0.15);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(0,0,0,0.15);
}

#u1093
{
	z-index: 4;
	width: 300px;
	height: 48px;
	background-color: #D8D8D8;
	background-color: rgba(0,0,0,0.15);
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 382px;
	-pie-background: rgba(0,0,0,0.15);
}

#u245-6
{
	z-index: 5;
	width: 672px;
	min-height: 104px;
	background-color: transparent;
	line-height: 48px;
	color: #FFFFFF;
	text-align: right;
	letter-spacing: 1px;
	font-size: 48px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
}

#u1087
{
	z-index: 11;
	width: 186px;
	background-color: transparent;
	margin-left: 1014px;
	margin-top: 45px;
	position: relative;
}

#u1278-4
{
	z-index: 13;
	width: 200px;
	min-height: 20px;
	background-color: #BFBFBF;
	background-color: rgba(0,0,0,0.25);
	text-align: right;
	color: #FFFFFF;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-left: 1000px;
	margin-top: 67px;
	position: relative;
	-pie-background: rgba(0,0,0,0.25);
}

#u1278-4:hover
{
	background-color: #999999;
	background-color: rgba(0,0,0,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 67px 0px 0px 1000px;
	-pie-background: rgba(0,0,0,0.4);
}

#u1278-4:hover p
{
	text-decoration: underline;
}

#u1096
{
	z-index: 40;
	overflow: hidden;
	margin-left: 590px;
	margin-top: 364px;
	position: relative;
}

#u1095-6
{
	z-index: 34;
	width: 200px;
	min-height: 34px;
	background-color: transparent;
	line-height: 12px;
	color: #F0F0F0;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-left: 500px;
	margin-top: 2px;
	position: relative;
}

#u1095-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 200px;
	margin: 2px 0px 0px 500px;
}

#u1095-6:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
}

