#u102
{
	background-color: #FFFFFF;
	position: fixed;
}

#u220
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u103
{
	background-color: transparent;
	position: relative;
}

#u160-6
{
	background-color: transparent;
	color: #00BAE1;
	font-size: 16px;
	line-height: 14px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
}

#u160-6:hover p
{
	color: #0C92CA;
	visibility: inherit;
}

#u170
{
	border-width: 2px;
	border-style: solid;
	border-color: #00BAE1;
	background-color: #FFFFFF;
	position: fixed;
}

#u159-4
{
	background-color: transparent;
	color: #00BAE1;
	font-size: 18px;
	line-height: 16px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: fixed;
}

#u161-4
{
	background-color: transparent;
	color: #00BAE1;
	font-size: 18px;
	line-height: 16px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: fixed;
}

#u162-4
{
	background-color: transparent;
	color: #00BAE1;
	font-size: 18px;
	line-height: 16px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: fixed;
}

#u159-4:hover p,#u161-4:hover p,#u162-4:hover p
{
	color: #0090C9;
	visibility: inherit;
	text-decoration: none;
}

#u163-4
{
	background-color: transparent;
	color: #00BAE1;
	font-size: 18px;
	text-align: center;
	line-height: 16px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: fixed;
}

#u163-4:hover p
{
	color: #0090C9;
	visibility: inherit;
}

