#u244
{
	background: -webkit-gradient(linear, left center, right center, from(rgba(255,35,98,0.8)),color-stop(100%, rgba(240,128,0,0.8)));
	background: -webkit-linear-gradient(left,rgba(255,35,98,0.8) ,rgba(240,128,0,0.8) 100%);
	background: linear-gradient(to right,rgba(255,35,98,0.8) ,rgba(240,128,0,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CCFF2362, endColorstr=#CCF08000, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#CCFF2362', endColorstr='#CCF08000', GradientType=1)";
	background-size: 100% auto;
}

#u244_align_to_page
{
	position: relative;
}

#u83-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
}

#u86-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u86-4:hover p
{
	text-decoration: underline;
}

#u89-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	line-height: 12px;
	letter-spacing: 1px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u86-4.MuseLinkActive p,#u89-4:hover p
{
	text-decoration: underline;
}

#u90-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 12px;
	letter-spacing: 1px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u89-4.MuseLinkActive p,#u90-4:hover p
{
	text-decoration: underline;
}

#u90-4.MuseLinkActive p
{
	text-decoration: underline;
}

#u745,#u849
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u179,#u851
{
	overflow: hidden;
	position: relative;
}

#u850-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
}

#u83-4.MuseLinkActive p,#u850-4.MuseLinkActive p
{
	font-size: 32px;
}

#u858-4
{
	background-color: transparent;
	color: #777777;
	font-size: 10px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u858-4:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

#u854-4
{
	background-color: transparent;
	color: #777777;
	font-size: 10px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u854-4:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

#u857-4
{
	background-color: transparent;
	color: #777777;
	font-size: 10px;
	letter-spacing: 1px;
	text-align: center;
	line-height: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
}

#u857-4:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

#u858-4.MuseLinkActive p,#u854-4.MuseLinkActive p,#u857-4.MuseLinkActive p
{
	color: #777777;
	visibility: inherit;
	text-decoration: underline;
}

