/*

*/

.version.mcs_cs /* version checker */
{
	color: #00001C;
	background-color: #43B2BA;
}

.html
{
	background: #FFFFFF url("../images/src%20scl%20summer%20main%20poster.jpg") no-repeat left top fixed;
	background-size: cover;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 1599.9500000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 58px;
	padding-bottom: 90px;
	width: 0.01px;
}

#pu618
{
	width: 0.01px;
}

#u618
{
	z-index: 63;
	width: 36px;
	margin-right: -10000px;
}

#u614-4
{
	z-index: 47;
	width: 40px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 39px;
}

#u614-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 40px;
	margin: 2px -10000px 0px 0px;
}

#u615-4
{
	z-index: 51;
	width: 50px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 960px;
}

#u615-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u615-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u616-4
{
	z-index: 55;
	width: 60px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1050px;
}

#u616-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u616-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u617-4
{
	z-index: 59;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1150px;
}

#u617-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u617-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u1292
{
	z-index: 2;
	width: 1200px;
	height: 1px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.35);
	margin-top: 56px;
	position: relative;
	-pie-background: rgba(255,255,255,0.35);
}

#pu1303
{
	width: 0.01px;
	margin-left: 50px;
	margin-top: 151px;
}

#u1303
{
	z-index: 11;
	width: 516px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u1293
{
	z-index: 12;
	width: 516px;
	height: 44px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1295
{
	z-index: 13;
	width: 228px;
	height: 36px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u1294-6
{
	z-index: 14;
	width: 500px;
	min-height: 72px;
	background-color: transparent;
	font-size: 36px;
	color: #44CBE8;
	letter-spacing: 1px;
	line-height: 36px;
	text-align: left;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 10px;
}

#pu1296
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 1015px;
}

#u1296
{
	z-index: 3;
	width: 65px;
	background-color: transparent;
	margin-left: 21px;
	position: relative;
}

#u1358-6
{
	z-index: 5;
	width: 106px;
	min-height: 24px;
	background-color: transparent;
	font-size: 10px;
	color: #F0F0F0;
	letter-spacing: 1px;
	line-height: 12px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	margin-top: 6px;
	position: relative;
}

#u1358-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 106px;
	margin: 6px 0px 0px;
}

#tab-panelu1304
{
	z-index: 20;
	width: 1200px;
	border-color: #000000;
	background-color: transparent;
	margin-top: 152px;
	position: relative;
}

#u1314
{
	z-index: 21;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1315
{
	z-index: 22;
	width: 298px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u1315:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 298px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1315.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 298px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1318-4
{
	z-index: 23;
	width: 298px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	color: #777777;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1315:hover #u1318-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u1315.TabbedPanelsTabSelected #u1318-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u1319
{
	z-index: 27;
	width: 299px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u1319:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1321-4
{
	z-index: 28;
	width: 299px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	color: #777777;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1319:hover #u1321-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1343
{
	z-index: 32;
	width: 299px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	left: 599px;
}

#u1343:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1346-4
{
	z-index: 33;
	width: 299px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	color: #777777;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1343:hover #u1346-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1352
{
	z-index: 37;
	width: 299px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	left: 899px;
}

#u1352:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1319.TabbedPanelsTabSelected,#u1343.TabbedPanelsTabSelected,#u1352.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1353-4
{
	z-index: 38;
	width: 299px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	color: #777777;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u1352:hover #u1353-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1319.TabbedPanelsTabSelected #u1321-4,#u1343.TabbedPanelsTabSelected #u1346-4,#u1352.TabbedPanelsTabSelected #u1353-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1315.TabbedPanelsTabSelected #u1318-4 p,#u1319.TabbedPanelsTabSelected #u1321-4 p,#u1343.TabbedPanelsTabSelected #u1346-4 p,#u1352.TabbedPanelsTabSelected #u1353-4 p
{
	color: #444444;
	visibility: inherit;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	font-style: normal;
}

#u1305
{
	z-index: 42;
	width: 1200px;
	background-color: transparent;
	position: relative;
}

#u1306
{
	z-index: 43;
	width: 1198px;
	height: 669px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1310
{
	z-index: 44;
	width: 1198px;
	height: 669px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1347
{
	z-index: 45;
	width: 1198px;
	height: 669px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1356
{
	z-index: 46;
	width: 1198px;
	height: 669px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u1359
{
	z-index: 64;
	width: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 552px;
	margin-top: 130px;
	position: relative;
}

#u1360
{
	z-index: 69;
	overflow: hidden;
	position: relative;
	width: 44px;
	margin-right: -10000px;
}

#u1362-4
{
	z-index: 65;
	width: 49px;
	min-height: 39px;
	background-color: transparent;
	line-height: 40px;
	font-size: 40px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 48px;
}

#pu1365-4
{
	width: 0.01px;
	margin-left: 500px;
	margin-top: 56px;
}

#u1365-4
{
	z-index: 78;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 10px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1363-4
{
	z-index: 70;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 10px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1364-4
{
	z-index: 74;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	font-size: 10px;
	color: #FFFFFF;
	letter-spacing: 1px;
	line-height: 10px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u1365-4:hover,#u1363-4:hover,#u1364-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1358-6:hover p,#u1365-4:hover p,#u1363-4:hover p,#u1364-4:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
}

