/*

*/

.version.mcs_matches /* version checker */
{
	color: #000002;
	background-color: #426D65;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1100px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 75px;
	width: 0.01px;
}

#u102
{
	z-index: 45;
	height: 75px;
	top: 0px;
}

#u102-bw
{
	z-index: 45;
}

#u220
{
	z-index: 54;
	width: 186px;
	top: 17px;
	left: 50%;
	margin-left: -640px;
}

#u103
{
	z-index: 55;
	width: 41px;
	margin-right: -10000px;
}

#u160-6
{
	z-index: 57;
	width: 136px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 50px;
}

#u160-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 136px;
	margin: 7px -10000px 0px 0px;
}

#u170
{
	z-index: 67;
	width: 96px;
	height: 28px;
	top: 21px;
	left: 50%;
	margin-left: 540px;
}

#u159-4
{
	z-index: 46;
	width: 50px;
	min-height: 14px;
	top: 30px;
	left: 50%;
	margin-left: -315px;
}

#u159-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px 0px 0px -315px;
}

#u161-4
{
	z-index: 50;
	width: 80px;
	min-height: 14px;
	top: 30px;
	left: 50%;
	margin-left: -225px;
}

#u161-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 80px;
	margin: 0px 0px 0px -225px;
}

#u162-4
{
	z-index: 63;
	width: 55px;
	min-height: 14px;
	top: 30px;
	left: 50%;
	margin-left: -105px;
}

#u162-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 55px;
	margin: 0px 0px 0px -105px;
}

#u163-4
{
	z-index: 68;
	width: 80px;
	min-height: 14px;
	top: 29px;
	left: 50%;
	margin-left: 550px;
}

#u163-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 80px;
	margin: 0px 0px 0px 550px;
}

#u336
{
	z-index: 40;
	min-height: 182px;
	background-color: transparent;
	padding-bottom: 138px;
}

#u336_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#u337-4
{
	z-index: 41;
	width: 421px;
	min-height: 32px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 36px;
	line-height: 43px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 136px;
}

#u336-bw
{
	z-index: 40;
	min-height: 182px;
}

#tab-panelu180
{
	z-index: 2;
	width: 1280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u194
{
	z-index: 3;
	width: 1280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u203
{
	z-index: 4;
	width: 639px;
	min-height: 39px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #EBEBEB;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u203:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 639px;
	min-height: 39px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u203.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	width: 638px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u206-4
{
	z-index: 5;
	width: 639px;
	min-height: 39px;
	border-color: #999999;
	background-color: transparent;
	color: #00BAE1;
	font-size: 28px;
	text-align: center;
	line-height: 39px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u203:hover #u206-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 639px;
	margin: 0px -10000px 0px 0px;
}

#u195
{
	z-index: 9;
	width: 639px;
	min-height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #EBEBEB;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	left: 639px;
}

#u195:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 639px;
	min-height: 39px;
	margin: 0px -10000px 0px 0px;
}

#u195.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	width: 639px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u198-4
{
	z-index: 10;
	width: 639px;
	min-height: 39px;
	border-color: #999999;
	background-color: transparent;
	color: #00BAE1;
	font-size: 28px;
	text-align: center;
	line-height: 39px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u195:hover #u198-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 639px;
	margin: 0px -10000px 0px 0px;
}

#u203.TabbedPanelsTabSelected #u206-4,#u195.TabbedPanelsTabSelected #u198-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 639px;
	margin: 0px -10000px 0px 0px;
}

#u203.TabbedPanelsTabSelected #u206-4 p,#u195.TabbedPanelsTabSelected #u198-4 p
{
	color: #00BAE1;
	visibility: inherit;
	font-size: 28px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	font-style: normal;
}

#u181
{
	z-index: 14;
	width: 1280px;
	background-color: transparent;
	position: relative;
}

#u186
{
	z-index: 15;
	width: 1278px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	padding-bottom: 659px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u179
{
	z-index: 16;
	width: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 24px;
}

#u151
{
	z-index: 17;
	width: 580px;
	background-color: #E8E8E8;
	position: relative;
	margin-right: -10000px;
	padding: 12px 14px 11px 11px;
}

#pu147-4
{
	width: 0.01px;
}

#u147-4
{
	z-index: 18;
	width: 155px;
	min-height: 10px;
	background-color: transparent;
	color: #222222;
	font-size: 10px;
	line-height: 9px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u145-4
{
	z-index: 31;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #222222;
	font-size: 10px;
	text-align: right;
	line-height: 9px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u150-4
{
	z-index: 22;
	width: 220px;
	min-height: 22px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	margin-top: 11px;
	position: relative;
}

#u148
{
	z-index: 30;
	width: 580px;
	height: 1px;
	background-color: #C8C8C8;
	margin-top: 5px;
	position: relative;
}

#u149-4
{
	z-index: 26;
	width: 220px;
	min-height: 22px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	margin-top: 6px;
	position: relative;
}

#u144-4
{
	z-index: 35;
	width: 39px;
	min-height: 10px;
	background-color: transparent;
	color: #222222;
	font-size: 10px;
	text-align: right;
	line-height: 9px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 166px;
}

#u190
{
	z-index: 39;
	width: 1278px;
	height: 789px;
	border-style: solid;
	border-color: #EBEBEB;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Medium_5';
	src: url('../fonts/stratumno2-medium-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

