/*

*/

.version.mcs_cs /* version checker */
{
	color: #00001F;
	background-color: #9FE455;
}

.html
{
	background-color: #EBEBEB;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 2100px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 90px;
	width: 0.01px;
}

#u1385
{
	z-index: 2;
	min-height: 799.5px;
	padding-bottom: 1px;
	background: transparent url("../images/src%20scl%20summer%20main%20poster.jpg") no-repeat left top;
}

#u1385_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	position: relative;
	left: -100px;
	padding-top: 58px;
	padding-bottom: 168px;
}

#pu618
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u618
{
	z-index: 70;
	width: 36px;
	margin-right: -10000px;
}

#u614-4
{
	z-index: 54;
	width: 40px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 39px;
}

#u614-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 40px;
	margin: 2px -10000px 0px 0px;
}

#u615-4
{
	z-index: 58;
	width: 50px;
	min-height: 12px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 960px;
}

#u615-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u615-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u616-4
{
	z-index: 62;
	width: 60px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1050px;
}

#u616-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u616-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 60px;
	margin: 12px -10000px 0px 0px;
}

#u617-4
{
	z-index: 66;
	width: 50px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 12px;
	left: 1150px;
}

#u617-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u617-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 12px -10000px 0px 0px;
}

#u1292
{
	z-index: 3;
	width: 1200px;
	height: 1px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.35);
	left: 100px;
	margin-top: 56px;
	position: relative;
	-pie-background: rgba(255,255,255,0.35);
}

#u1416
{
	z-index: 46;
	width: 100px;
	background-color: transparent;
	left: 650px;
	margin-top: 99px;
	position: relative;
}

#u1358-6
{
	z-index: 4;
	width: 150px;
	min-height: 28px;
	background-color: transparent;
	line-height: 14px;
	color: #F0F0F0;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	left: 625px;
	margin-top: 11px;
	position: relative;
}

#u1358-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 150px;
	margin: 11px 0px 0px;
}

#u1426
{
	z-index: 37;
	width: 516px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 450px;
	margin-top: 60px;
	position: relative;
}

#u1423
{
	z-index: 38;
	width: 516px;
	height: 44px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u1424
{
	z-index: 39;
	width: 228px;
	height: 36px;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 144px;
}

#u1425-6
{
	z-index: 40;
	width: 500px;
	min-height: 72px;
	background-color: transparent;
	line-height: 36px;
	color: #44CBE8;
	text-align: center;
	letter-spacing: 1px;
	font-size: 36px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 8px;
}

#u1427-6
{
	z-index: 48;
	width: 200px;
	min-height: 30px;
	background-color: transparent;
	line-height: 14px;
	color: #F0F0F0;
	text-align: center;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	left: 600px;
	margin-top: 71px;
	position: relative;
}

#u1427-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 200px;
	margin: 71px 0px 0px;
}

#u1385-bw
{
	z-index: 2;
	min-height: 799.5px;
}

#tab-panelu1304
{
	z-index: 10;
	width: 1200px;
	border-color: #000000;
	background-color: transparent;
	position: relative;
}

#u1314
{
	z-index: 11;
	width: 1200px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1315
{
	z-index: 12;
	width: 298px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1315:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 298px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1315.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 298px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1318-4
{
	z-index: 13;
	width: 298px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	color: #777777;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u1315:hover #u1318-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u1315.TabbedPanelsTabSelected #u1318-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 298px;
	margin: 0px -10000px 0px 0px;
}

#u1319
{
	z-index: 17;
	width: 299px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	left: 299px;
}

#u1319:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1321-4
{
	z-index: 18;
	width: 299px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	color: #777777;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u1319:hover #u1321-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1343
{
	z-index: 22;
	width: 299px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	left: 599px;
}

#u1343:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1346-4
{
	z-index: 23;
	width: 299px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	color: #777777;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u1343:hover #u1346-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1352
{
	z-index: 27;
	width: 299px;
	min-height: 18px;
	border-width: 1px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #EBEBEB;
	padding-bottom: 40px;
	position: relative;
	margin-right: -10000px;
	left: 899px;
}

#u1352:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 18px;
	margin: 0px -10000px 0px 0px;
}

#u1319.TabbedPanelsTabSelected,#u1343.TabbedPanelsTabSelected,#u1352.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 299px;
	min-height: 19px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u1353-4
{
	z-index: 28;
	width: 299px;
	min-height: 18px;
	border-color: #999999;
	background-color: transparent;
	color: #777777;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	top: 20px;
}

#u1352:hover #u1353-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1319.TabbedPanelsTabSelected #u1321-4,#u1343.TabbedPanelsTabSelected #u1346-4,#u1352.TabbedPanelsTabSelected #u1353-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 299px;
	margin: 0px -10000px 0px 0px;
}

#u1315.TabbedPanelsTabSelected #u1318-4 p,#u1319.TabbedPanelsTabSelected #u1321-4 p,#u1343.TabbedPanelsTabSelected #u1346-4 p,#u1352.TabbedPanelsTabSelected #u1353-4 p
{
	color: #444444;
	visibility: inherit;
	font-size: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	font-style: normal;
}

#u1305
{
	z-index: 32;
	width: 1200px;
	background-color: transparent;
	position: relative;
}

#u1306
{
	z-index: 33;
	width: 1198px;
	height: 899px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1310
{
	z-index: 34;
	width: 1198px;
	height: 899px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1347
{
	z-index: 35;
	width: 1198px;
	height: 899px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u1356
{
	z-index: 36;
	width: 1198px;
	height: 899px;
	border-style: solid;
	border-color: #DDDDDD;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#u1359
{
	z-index: 71;
	width: 96px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 552px;
	margin-top: 140px;
	position: relative;
}

#u1360
{
	z-index: 76;
	overflow: hidden;
	position: relative;
	width: 44px;
	margin-right: -10000px;
}

#u1362-4
{
	z-index: 72;
	width: 49px;
	min-height: 39px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 40px;
	font-size: 40px;
	letter-spacing: 1px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 48px;
}

#pu1365-4
{
	width: 0.01px;
	margin-left: 500px;
	margin-top: 56px;
}

#u1365-4
{
	z-index: 85;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 10px;
	color: #777777;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1363-4
{
	z-index: 77;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 10px;
	color: #777777;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u1364-4
{
	z-index: 81;
	width: 50px;
	min-height: 10px;
	background-color: transparent;
	line-height: 10px;
	color: #777777;
	text-align: center;
	letter-spacing: 1px;
	font-size: 10px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 150px;
}

#u1365-4:hover,#u1363-4:hover,#u1364-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u1358-6:hover p,#u1427-6:hover p,#u1365-4:hover p,#u1363-4:hover p,#u1364-4:hover p
{
	color: #FFCC00;
	visibility: inherit;
	text-decoration: underline;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1200px;
}

