/*

*/

.version.mcs_teams /* version checker */
{
	color: #000018;
	background-color: #438421;
}

.html
{
	background-color: #F6F6F6;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1400px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 75px;
	padding-bottom: 180px;
	width: 0.01px;
}

#u102
{
	z-index: 142;
	height: 75px;
	top: 0px;
}

#u102-bw
{
	z-index: 142;
}

#u220
{
	z-index: 151;
	width: 186px;
	top: 17px;
	left: 50%;
	margin-left: -640px;
}

#u103
{
	z-index: 152;
	width: 41px;
	margin-right: -10000px;
}

#u160-6
{
	z-index: 154;
	width: 136px;
	min-height: 26px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 50px;
}

#u160-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 26px;
	width: 136px;
	margin: 7px -10000px 0px 0px;
}

#u170
{
	z-index: 164;
	width: 96px;
	height: 28px;
	top: 21px;
	left: 50%;
	margin-left: 540px;
}

#u159-4
{
	z-index: 143;
	width: 50px;
	min-height: 14px;
	top: 30px;
	left: 50%;
	margin-left: -315px;
}

#u159-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 50px;
	margin: 0px 0px 0px -315px;
}

#u161-4
{
	z-index: 147;
	width: 80px;
	min-height: 14px;
	top: 30px;
	left: 50%;
	margin-left: -225px;
}

#u161-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 80px;
	margin: 0px 0px 0px -225px;
}

#u162-4
{
	z-index: 160;
	width: 55px;
	min-height: 14px;
	top: 30px;
	left: 50%;
	margin-left: -105px;
}

#u162-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 55px;
	margin: 0px 0px 0px -105px;
}

#u163-4
{
	z-index: 165;
	width: 80px;
	min-height: 14px;
	top: 29px;
	left: 50%;
	margin-left: 550px;
}

#u163-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 80px;
	margin: 0px 0px 0px 550px;
}

#u277
{
	z-index: 2;
	min-height: 182px;
	background-color: transparent;
	padding-bottom: 138px;
}

#u277_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	position: relative;
	left: -100px;
}

#u280-4
{
	z-index: 4;
	width: 421px;
	min-height: 32px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 36px;
	line-height: 43px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 136px;
}

#u277-bw
{
	z-index: 2;
	min-height: 182px;
}

#u278
{
	z-index: 3;
	width: 1280px;
	background-color: #FEFEFE;
	padding-bottom: 500px;
	margin-top: 25px;
	position: relative;
}

#u357
{
	z-index: 8;
	width: 590px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 36px;
}

#u290
{
	z-index: 9;
	width: 588px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FEFEFE;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u281-4
{
	z-index: 10;
	width: 198px;
	min-height: 32px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 28px;
	line-height: 34px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u283-4
{
	z-index: 14;
	width: 198px;
	min-height: 14px;
	background-color: transparent;
	color: #222222;
	font-size: 12px;
	text-align: right;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 334px;
}

#u291
{
	z-index: 42;
	width: 590px;
	height: 1px;
	background-color: #F0F0F0;
	left: -1px;
	margin-top: 14px;
	position: relative;
}

#u286-4
{
	z-index: 26;
	width: 120px;
	min-height: 14px;
	background-color: transparent;
	color: #222222;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u284-4
{
	z-index: 18;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u288-4
{
	z-index: 34;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#u285-4
{
	z-index: 22;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u289-4
{
	z-index: 38;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u287-4
{
	z-index: 30;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	margin-left: 149px;
	margin-top: 8px;
	position: relative;
}

#u292-4
{
	z-index: 43;
	width: 120px;
	min-height: 14px;
	background-color: transparent;
	color: #222222;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u293-4
{
	z-index: 47;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u338-4
{
	z-index: 51;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 258px;
}

#u339-4
{
	z-index: 55;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 258px;
}

#u340-4
{
	z-index: 59;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 258px;
}

#u341-4
{
	z-index: 63;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 470px;
}

#u342-4
{
	z-index: 67;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 470px;
}

#u343-4
{
	z-index: 71;
	width: 94px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 254px;
}

#u358
{
	z-index: 75;
	width: 590px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 654px;
}

#u376
{
	z-index: 76;
	width: 588px;
	border-width: 1px;
	border-style: solid;
	border-color: #F0F0F0;
	background-color: #FEFEFE;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u290_position_content,#u376_position_content
{
	padding-top: 15px;
	padding-bottom: 44px;
}

#pu281-4,#pu360-4
{
	width: 0.01px;
	margin-left: 27px;
}

#u360-4
{
	z-index: 77;
	width: 273px;
	min-height: 32px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 28px;
	line-height: 34px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u367-4
{
	z-index: 81;
	width: 198px;
	min-height: 14px;
	background-color: transparent;
	color: #222222;
	font-size: 12px;
	text-align: right;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 334px;
}

#u363
{
	z-index: 109;
	width: 590px;
	height: 1px;
	background-color: #F0F0F0;
	left: -1px;
	margin-top: 14px;
	position: relative;
}

#pu286-4,#pu366-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 14px;
}

#u366-4
{
	z-index: 93;
	width: 120px;
	min-height: 14px;
	background-color: transparent;
	color: #222222;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u371-4
{
	z-index: 85;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u374-4
{
	z-index: 101;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 334px;
}

#pu285-4,#pu370-4
{
	width: 0.01px;
	margin-left: 149px;
	margin-top: 7px;
}

#u370-4
{
	z-index: 89;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
}

#u372-4
{
	z-index: 105;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 212px;
}

#u369-4
{
	z-index: 97;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	margin-left: 149px;
	margin-top: 8px;
	position: relative;
}

#pu292-4,#pu364-4
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 25px;
}

#u364-4
{
	z-index: 110;
	width: 120px;
	min-height: 14px;
	background-color: transparent;
	color: #222222;
	font-size: 12px;
	line-height: 14px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
}

#u365-4
{
	z-index: 114;
	width: 198px;
	min-height: 18px;
	background-color: transparent;
	color: #777777;
	font-size: 20px;
	line-height: 24px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 122px;
}

#u362-4
{
	z-index: 118;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 258px;
}

#u373-4
{
	z-index: 122;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 258px;
}

#u361-4
{
	z-index: 126;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	color: #444444;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 147px;
	left: 258px;
}

#u375-4
{
	z-index: 130;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 470px;
}

#u368-4
{
	z-index: 134;
	width: 90px;
	min-height: 14px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 470px;
}

#u359-4
{
	z-index: 138;
	width: 94px;
	min-height: 14px;
	background-color: transparent;
	font-size: 10px;
	text-align: right;
	line-height: 12px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 196px;
	left: 254px;
}

#u375-2,#u368-2,#u359-2
{
	visibility: hidden;/* 100% transparent text is hidden */
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Medium_5';
	src: url('../fonts/stratumno2-medium-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

