/*

*/

.version.summer_2016 /* version checker */
{
	color: #0000E2;
	background-color: #BF12AA;
}

.html
{
	background-color: #222222;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1200px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u232
{
	z-index: 47;
	min-height: 46px;
	padding-bottom: 14px;
}

#u232_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1280px;
	left: -100px;
}

#u260
{
	z-index: 55;
	width: 71px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 704px;
}

#u266
{
	z-index: 49;
	width: 100px;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1280px;
}

#u224
{
	z-index: 50;
	width: 96px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u225-4
{
	z-index: 51;
	width: 80px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 8px;
}

#u232-bw
{
	z-index: 47;
	min-height: 46px;
}

#pu309
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -4px;
}

#u309
{
	z-index: 2;
	height: 720px;
	background-color: #252525;
}

#u309-bw
{
	z-index: 2;
	margin-top: 4px;
	height: 720px;
}

#u240,#u240-bw
{
	z-index: 48;
	height: 4px;
}

#tab-panelu310
{
	z-index: 3;
	width: 1280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u322
{
	z-index: 4;
	width: 1280px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u323
{
	z-index: 5;
	width: 426px;
	min-height: 39px;
	border-style: solid;
	border-color: #F77543;
	background-color: #EBEBEB;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u323:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 426px;
	min-height: 39px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u323.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #F77543;
	background-color: #FFFFFF;
	width: 426px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u325-4
{
	z-index: 6;
	width: 426px;
	min-height: 39px;
	border-color: #999999;
	background-color: transparent;
	color: #F77543;
	font-size: 28px;
	text-align: center;
	line-height: 39px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u323:hover #u325-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#u327
{
	z-index: 10;
	width: 425px;
	min-height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #F77543;
	background-color: #EBEBEB;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	left: 426px;
}

#u327:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 425px;
	min-height: 39px;
	margin: 0px -10000px 0px 0px;
}

#u327.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #F77543;
	background-color: #FFFFFF;
	width: 425px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u330-4
{
	z-index: 11;
	width: 425px;
	min-height: 39px;
	border-color: #999999;
	background-color: transparent;
	color: #F77543;
	font-size: 28px;
	text-align: center;
	line-height: 39px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 14px;
}

#u327:hover #u330-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 425px;
	margin: 0px -10000px 0px 0px;
}

#u327.TabbedPanelsTabSelected #u330-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 425px;
	margin: 0px -10000px 0px 0px;
}

#u331
{
	z-index: 15;
	width: 426px;
	min-height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #F77543;
	background-color: #EBEBEB;
	padding-bottom: 29px;
	position: relative;
	margin-right: -10000px;
	left: 852px;
}

#u331:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 426px;
	min-height: 39px;
	margin: 0px -10000px 0px 0px;
}

#u331.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #F77543;
	background-color: #FFFFFF;
	width: 426px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u333-4
{
	z-index: 16;
	width: 426px;
	min-height: 39px;
	border-color: #999999;
	background-color: transparent;
	color: #F77543;
	font-size: 28px;
	text-align: center;
	line-height: 39px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u331:hover #u333-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#u323.TabbedPanelsTabSelected #u325-4,#u331.TabbedPanelsTabSelected #u333-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 426px;
	margin: 0px -10000px 0px 0px;
}

#u323.TabbedPanelsTabSelected #u325-4 p,#u327.TabbedPanelsTabSelected #u330-4 p,#u331.TabbedPanelsTabSelected #u333-4 p
{
	color: #F77543;
	visibility: inherit;
	font-size: 28px;
}

#u311
{
	z-index: 20;
	width: 1280px;
	background-color: transparent;
	position: relative;
}

#u313
{
	z-index: 21;
	width: 1278px;
	border-style: solid;
	border-color: #F77543;
	background-color: #FFFFFF;
	padding-bottom: 659px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u314
{
	z-index: 22;
	width: 605px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 24px;
}

#u316
{
	z-index: 23;
	width: 580px;
	background-color: #E8E8E8;
	position: relative;
	margin-right: -10000px;
	padding: 12px 14px 11px 11px;
}

#page_position_content,#pu320-4
{
	width: 0.01px;
}

#u320-4
{
	z-index: 24;
	width: 155px;
	min-height: 10px;
	background-color: transparent;
	color: #222222;
	font-size: 10px;
	line-height: 9px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u321-4
{
	z-index: 37;
	width: 70px;
	min-height: 10px;
	background-color: transparent;
	color: #222222;
	font-size: 10px;
	text-align: right;
	line-height: 9px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 510px;
}

#u317-4
{
	z-index: 28;
	width: 220px;
	min-height: 22px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	margin-top: 11px;
	position: relative;
}

#u318
{
	z-index: 36;
	width: 580px;
	height: 1px;
	background-color: #C8C8C8;
	margin-top: 5px;
	position: relative;
}

#u315-4
{
	z-index: 32;
	width: 220px;
	min-height: 22px;
	background-color: transparent;
	color: #00BAE1;
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0px;
	font-family: '__StratumNo2Medium_5';
	font-weight: 500;
	margin-top: 6px;
	position: relative;
}

#u319-4
{
	z-index: 41;
	width: 39px;
	min-height: 10px;
	background-color: transparent;
	color: #222222;
	font-size: 10px;
	text-align: right;
	line-height: 9px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 166px;
}

#u312
{
	z-index: 45;
	width: 1278px;
	height: 789px;
	border-style: solid;
	border-color: #F77543;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u335
{
	z-index: 46;
	width: 1278px;
	height: 789px;
	border-style: solid;
	border-color: #F77543;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Medium_5';
	src: url('../fonts/stratumno2-medium-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-medium-webfont.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

