/*

*/

.version.teams /* version checker */
{
	color: #000018;
	background-color: #68B79E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 860px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u641,#u641-bw
{
	z-index: 2;
	height: 800px;
}

#u779
{
	z-index: 3;
	height: 860px;
	background-color: #222222;
}

#u779-bw
{
	z-index: 3;
	height: 860px;
}

#u782
{
	z-index: 4;
	min-height: 860px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u782-bw
{
	z-index: 4;
	min-height: 860px;
}

#u780
{
	z-index: 5;
	min-height: 860px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
}

#u780-bw
{
	z-index: 5;
	min-height: 860px;
}

#u763-4
{
	z-index: 6;
	width: 230px;
	min-height: 19px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 24px;
	text-align: left;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
}

#u767-4
{
	z-index: 10;
	width: 170px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 11px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	-pie-background: rgba(255,255,255,0.15);
}

#u767-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 290px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u767-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 290px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u767-4:hover p
{
	text-decoration: underline;
}

#u787-17
{
	z-index: 14;
	width: 200px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
}

#u788-4
{
	z-index: 31;
	width: 170px;
	min-height: 16px;
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.15);
	line-height: 11px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: left;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 260px;
	-pie-background: rgba(255,255,255,0.15);
}

#u788-4:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.25);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 290px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.25);
}

#u788-4:active
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 170px;
	margin: 290px -10000px 0px 0px;
	-pie-background: rgba(255,255,255,0.4);
}

#u767-4:active p,#u787,#u788-4:hover p
{
	text-decoration: underline;
}

#u789-9
{
	z-index: 35;
	width: 200px;
	min-height: 17px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 13px;
	font-size: 11px;
	font-family: '__Apercu Mono_5';
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	left: 260px;
}

#u787-2,#u789-2
{
	font-style: normal;
}

#u788-4:active p,#u789
{
	text-decoration: underline;
}

#u637-4
{
	z-index: 44;
	width: 32px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1000px;
}

#u637-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 32px;
	margin: 100px -10000px 0px 0px;
}

#u637-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 32px;
	margin: 100px -10000px 0px 0px;
}

#u638-4
{
	z-index: 48;
	width: 46px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1072px;
}

#u638-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 100px -10000px 0px 0px;
}

#u638-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 46px;
	margin: 100px -10000px 0px 0px;
}

#u639-4
{
	z-index: 52;
	width: 40px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1158px;
}

#u639-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 40px;
	margin: 100px -10000px 0px 0px;
}

#u640-4
{
	z-index: 56;
	width: 40px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 1240px;
}

#u639-4.MuseLinkActive,#u640-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 40px;
	margin: 100px -10000px 0px 0px;
}

#u640-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	width: 40px;
	margin: 100px -10000px 0px 0px;
}

#u774-4
{
	z-index: 60;
	width: 40px;
	min-height: 27px;
	background-color: transparent;
	line-height: 32px;
	color: #FFFFFF;
	font-size: 36px;
	font-family: '__StratumNo2Bold_5';
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 37px;
}

#u775
{
	z-index: 64;
	overflow: hidden;
	position: relative;
	width: 36px;
	margin-right: -10000px;
	margin-top: 89px;
}

@font-face
{
	font-family: '__Apercu Mono_5';
	src: url('../fonts/apercu-mono-webfont.eot');
	src: local('☺'), url('../fonts/apercu-mono-webfont.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face
{
	font-family: '__StratumNo2Bold_5';
	src: url('../fonts/stratumno2-bold-webfont.eot');
	src: local('☺'), url('../fonts/stratumno2-bold-webfont.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

body
{
	position: relative;
	min-width: 1280px;
}

